[core]
	editor = vim
[user]
	email = fans656@yahoo.com
	name = fans656
[alias]
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	st = status
	co = commit
[push]
	default = simple
